@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Quicksand", sans-serif;
}

nextjs-portal {
    display: none;
}

.container {
    @apply w-full max-w-container mx-auto;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #08082c inset;
    -webkit-text-fill-color: #fff;
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #08082c inset;
    -webkit-text-fill-color: #fff;
}
